@import "colors";

@media screen and (min-width: 801px) {
    html {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 2.4em;
    }
}

body {
    font-family: monospace;
    color: $pale-purple;
}

a {
    color: $pale-yellow;
}

a:visited {
    color: $deep-yellow;
}
