@use "sass:color";

@import "partials/banner";
@import "partials/colors";
@import "partials/chat";
@import "partials/fonts";

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $deep-blue;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.input-widget {
    &, .input-container {
        display: flex;
        align-items: center;
    }

    .number-adjust {
        width: 2ch;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 10px;
    }

    .slider-view {
        text-align: right;
    }

    &.bool-input {
        padding-top: 1ch;
    }

    &.int-input {
        .slider-view {
            min-width: 4ch;
        }
    }

    &.float-input {
        .slider-view {
            min-width: 7ch;
        }
    }

    &.str-input {
        padding-top: 1ch;

        input {
            background-color: color.adjust($pale-purple, $alpha: 0.2);
            border: none;
            border-radius: 10px;
            padding: 0 10px;
            width: 100%;
        }
    }
}

input {
    &[type=range] {
        background: transparent;
    }

    &:focus {
        outline: none;
    }
}

button, .button {
    background: $pale-purple;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    line-height: 1.7em;
    font-family: monospace; /* FIXME: Why is this necessary? */

    &:hover {
        cursor: pointer;
    }
}
