@import "main";

#new-room-params-container {
    display: flex;
    flex-flow: column;
    align-items: baseline;

    & > .input-widget label {
        text-align: right;
        min-width: 17ch;
        padding-right: 1ch;
    }

    .title-container {
        display: flex;
        justify-content: center;
        width: 100%;

        h3 {
            margin: 2ch;
        }
    }

    .submit-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 2ch;
    }

    .input-widget, .input-container {
        width: 100%;
    }
}

button, .button {
    width: min-content;
}
