<!DOCTYPE html>
<html>
    <head>
        <title>degen.r8</title>
    </head>
    <body>
    <%- include("Components/banner", {path: null}) %>
    <div id="content">
        <a href="/lobby.do">lobby</a>
    </div>
    </body>
</html>
