<!DOCTYPE html>
<html>
    <head>
        <title>degen.r8 &ndash; login</title>
    </head>
    <body>
    <%- include("Components/banner", {path: "login", isLoggedIn: false}) %>
    <div id="content">
        <div id="login-container">
            <div>
                log in
            </div>
            <form action="/login.rest" method="post">
                <div id="username-container">
                    <label for="username">username</label>
                    <input id="username" name="name" type="text" required>
                </div>
                <div id="password-container">
                    <label for="password">password</label>
                    <input id="password" name="password" type="password" required>
                </div>
                <div class="submit-container">
                    <input type="submit" value="log in">
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
