<!DOCTYPE html>
<html>
    <head>
        <title>degen.r8 &ndash; lobby</title>
        <link rel="stylesheet" href="/assets/css/lobby.css">
        <link rel="icon" href="/assets/images/favicon.ico">
        <script src="/assets/js/degen.r8/lobby.bundle.js"></script>
    </head>
    <body>
    <%- include("Components/banner", {user}) %>
    <div id="content">
        <div id="rooms-container"></div>
        <div id="new-room-params-container"></div>
    </div>
    <script>
        window.onload = function() {
            window.main(<%- JSON.stringify(params) %>);
        };
    </script>
    </body>
</html>
